<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/js/phoenix.js"></script>

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="/css/phoenix.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="https://github.com/phoenixframework/phoenix">Get Started</a></li>
        </ul>
        <span class="logo"></span>
      </div>

      <%= @inner %>

      <div class="footer">
        <p><a href="http://phoenixframework.org">phoenixframework.org</a></p>
      </div>

    </div> <!-- /container -->

    <script>
      var socket = new Phoenix.Socket('/ws')

      socket.join('channel', 'chat', {}, function(channel) {

        channel.on('broadcast:message', function(data) {
          var point = JSON.parse(data.message);
          var div = document.createElement('div');
          div.setAttribute('style', 'background:red;position:absolute;width:5px;height:5px;top:'+point.y+'px;left:'+point.x+'px');
          document.body.appendChild(div);
        });
        document.body.onclick = function(e) {
          channel.send('user:message', JSON.stringify({x:e.clientX, y:e.clientY}) )
        }
      });
    </script>
  </body>
</html>
